.navbar{
    padding: 1rem;
    background-color: beige;
    display: flex;
    justify-content: end;
}

button{
    background-color: orangered;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}