<div class="task-container">
    <h2>Task List</h2>

    <div class="task-columns">

        <div class="task-section">
            <h3>Created by</h3>
            <div *ngFor="let task of tasks">
                <app-task-item
                    [task]="task"
                    (updateTask)="onUpdateTask($event)"
                    (deleteTask)="onDeleteTask($event)"
                >
                </app-task-item>
            </div>
        </div>

        <div class="task-section">
            <h3>Assigned To</h3>
            <div *ngFor="let task of tasksAssigned">
                <app-task-item
                    [task]="task"
                    (updateTask)="onUpdateTask($event)"
                    (deleteTask)="onDeleteTask($event)"
                >
                </app-task-item>
            </div>
        </div>

    </div>
</div>